.ui.fluid.card(class=index!=0?"hidden":null, postID=val.id, index=val.postID, postClass=val.class, postTimeStamps=postTimeStamps, postTimeStampsDict=postTimeStampsDict)
  .content.title
    h2 !{val.body}
  .content
    .ui.two.column.grid.stackable
      .five.wide.column.centered
        video(src=cdn+'/post_pictures/'+val.picture controls controlsList="nofullscreen" poster type='video/mp4')
        .content.buttons
          .ui.buttons.small
            .ui.left.labeled.button(class=disabledFunctionalities? "disabled": "")
              a.ui.basic.green.right.pointing.label !{val.likes}
              .ui.like.button(tabindex='0', data-tooltip="I like this", data-position="bottom center", data-variation="mini", class=val.like? "green": null)
                i.thumbs.up.icon
                | Upvote
            .ui.right.labeled.button(class=disabledFunctionalities? "disabled": "")
              .ui.unlike.button(tabindex='0', data-tooltip="I dislike this", data-position="bottom center", data-variation="mini", class=val.unlike? "red": null)
                i.thumbs.down.icon
                | Downvote
              a.ui.basic.red.left.pointing.label !{val.unlikes}
          .secondary-buttons
            .ui.flag.button.small(tabindex='0', data-tooltip="Report Video", data-position="top center", data-variation="mini", class=[val.flag? "orange": null, disabledFunctionalities? "disabled": ""])
              i.flag.icon
              | Flag
      .eleven.wide.column.centered
        h3 Comments
        .ui.divider(style="margin:0px;")
        .ui.form
          .inline.field
            .image
              img.ui.image.rounded(src=user.profile.picture)
            textarea.replyToVideo(name='replyToVideo' type='text' placeholder='Add a Comment...' rows='1' disabled=disabledFunctionalities? true: false)
            i.big.send.link.icon.replyToVideo
        h4(style="text-align: right; color: gray;") Sort by: Newest First
        .ui.comments(style="display:none;")
          each comment in val.comments
            - var isDeleted = comment.actor && comment.actor.username === '[deleted]'
            .comment(commentID=comment.new_comment ? comment.commentID : comment.id, index=comment.commentID, commentClass=comment.class, data-allow-interactions=comment.allowInteractions, class=isDeleted ? 'deleted-comment' : '', style=isDeleted ? "background-color: #fffacd; border-radius: 4px; margin: 0.5em 0; padding: 0.75em;" : "")
              .content(class=!comment.flagged ? "transition hidden" : "")
                .metadata  
                  span.date !{user.createdAt.getTime() + comment.time}                             
                .text(style="background-color: black; color: white; padding: 0.2em;")  You flagged this comment. The admins will review this comment further. We are sorry you had this experience.
                .actions 
                  a.unflag Unflag
              if comment.new_comment 
                .image(style="background-color:"+user.profile.color+";", class=comment.flagged ? "transition hidden": "")
                  a.avatar
                    img(src=user.profile.picture)
              else
                .image(style="background-color:"+comment.actor.profile.color+";", class=comment.flagged ? "transition hidden": "")
                  a.avatar
                    img(src='/profile_pictures/'+comment.actor.profile.picture)
              .content(class=comment.flagged ? "transition hidden": "", style=isDeleted ? "overflow: hidden;" : "")
                if comment.new_comment 
                  a.author(class='/me') !{user.username} (me)
                else if isDeleted
                  a.author(style="font-weight: bold; color: #2185d0;") !{comment.actor.username}
                else 
                  a.author !{comment.actor.username}
                .metadata
                  span.date !{user.createdAt.getTime() + comment.time}
                .text(style=isDeleted ? "color: #2185d0; font-weight: bold;" : "") !{comment.body}
                .actions 
                  if comment.removed || (comment.class && comment.class.includes('removal'))
                    // Comment removal condition: Disable upvote, downvote, and flagging for removed comments
                    a.like.disabled(style="opacity: 0.5; cursor: not-allowed;")
                      i.icon.thumbs.up
                      span.num !{comment.likes} 
                    a.unlike.disabled(style="opacity: 0.5; cursor: not-allowed;")
                      i.icon.thumbs.down
                      span.num !{comment.unlikes}
                    a.reply.disabled(style="opacity: 0.5; cursor: not-allowed;") Reply
                    if !comment.new_comment 
                      a.flag.disabled(style="opacity: 0.5; cursor: not-allowed;") Flag
                  else if comment.class && comment.class.includes('offense3')
                    // Third video harassment: Full interactivity (upvote, downvote, flagging all enabled)
                    a.like(class=comment.liked ? "green" : null)
                      i.icon.thumbs.up(class=comment.liked ? "green" : null)
                      span.num !{comment.likes} 
                    a.unlike(class=comment.unliked ? "red" : null)
                      i.icon.thumbs.down(class=comment.unliked ? "red" : null)
                      span.num !{comment.unlikes}
                    a.reply Reply
                    if !comment.new_comment 
                      a.flag Flag
                  else if comment.class && comment.class.includes('offense') && !comment.class.includes('offense3')
                    // Harassment comments (except third video): 
                    // - If objection condition: Enable all interactions (likes, unlikes, flag, reply)
                    // - If removal condition or control: Disable likes/unlikes, but allow flagging and reply
                    - var allowInteractions = comment.allowInteractions === true || comment.allowInteractions === 'true'
                    if allowInteractions
                      // Objection conditions: Full interactivity
                      a.like(class=comment.liked ? "green" : null)
                        i.icon.thumbs.up(class=comment.liked ? "green" : null)
                        span.num !{comment.likes} 
                      a.unlike(class=comment.unliked ? "red" : null)
                        i.icon.thumbs.down(class=comment.unliked ? "red" : null)
                        span.num !{comment.unlikes}
                      a.reply Reply
                      if !comment.new_comment 
                        a.flag Flag
                    else
                      // Removal/Control conditions: Disable likes/unlikes
                      a.like.disabled(style="opacity: 0.5; cursor: not-allowed;")
                        i.icon.thumbs.up
                        span.num !{comment.likes} 
                      a.unlike.disabled(style="opacity: 0.5; cursor: not-allowed;")
                        i.icon.thumbs.down
                        span.num !{comment.unlikes}
                      a.reply Reply
                      if !comment.new_comment 
                        a.flag Flag
                  else if comment.class && comment.class.includes('objection')
                    // Objection comments: Full interactivity (upvote, downvote, flagging, reply all enabled)
                    a.like(class=comment.liked ? "green" : null)
                      i.icon.thumbs.up(class=comment.liked ? "green" : null)
                      span.num !{comment.likes} 
                    a.unlike(class=comment.unliked ? "red" : null)
                      i.icon.thumbs.down(class=comment.unliked ? "red" : null)
                      span.num !{comment.unlikes}
                    a.reply Reply
                    if !comment.new_comment 
                      a.flag Flag
                  else
                    // Normal actions for neutral comments (random upvotes/downvotes)
                    a.like(class=comment.liked ? "green" : null)
                      i.icon.thumbs.up(class=comment.liked ? "green" : null)
                      span.num !{comment.likes} 
                    a.unlike(class=comment.unliked ? "red" : null)
                      i.icon.thumbs.down(class=comment.unliked ? "red" : null)
                      span.num !{comment.unlikes}
                    a.reply Reply
                    if !comment.new_comment 
                      a.flag Flag
              if comment.subcomments.length!==0
                .comments.subcomments
                  each subcomment in comment.subcomments
                    - var isSubcommentDeleted = subcomment.actor && subcomment.actor.username === '[deleted]'
                    .comment(commentID=subcomment.new_comment ? subcomment.commentID : subcomment.id, index=subcomment.commentID, commentClass=subcomment.class, class=isSubcommentDeleted ? 'deleted-comment' : '', style=isSubcommentDeleted ? "background-color: #fffacd; border-radius: 4px; margin: 0.5em 0; padding: 0.75em;" : "")
                      .content(class=!subcomment.flagged ? "transition hidden" : "")
                        .metadata
                          span.date !{user.createdAt.getTime() + subcomment.time}
                        .text(style="background-color: black; color: white; padding: 0.2em") You flagged this comment. The admins will review this comment further. We are sorry you had this experience.
                        .actions 
                          a.unflag Unflag
                      if subcomment.new_comment 
                        .image(style="background-color:"+user.profile.color+";", class=subcomment.flagged ? "transition hidden": "")
                          a.avatar
                            img(src=user.profile.picture)
                      else
                        .image(style="background-color:"+subcomment.actor.profile.color+";", class=subcomment.flagged ? "transition hidden": "")
                          a.avatar
                            img(src='/profile_pictures/'+subcomment.actor.profile.picture)
                      .content(class=subcomment.flagged ? "transition hidden": "", style=isSubcommentDeleted ? "overflow: hidden;" : "")
                          if subcomment.new_comment 
                            a.author(class='/me') !{user.username} (me)
                          else if isSubcommentDeleted
                            a.author(style="font-weight: bold; color: #2185d0;") !{subcomment.actor.username}
                          else 
                            a.author !{subcomment.actor.username}
                          .metadata
                            span.date !{user.createdAt.getTime() + subcomment.time}
                          .text(style=isSubcommentDeleted ? "color: #2185d0; font-weight: bold;" : "") !{subcomment.body}
                          .actions 
                            if subcomment.class && subcomment.class.includes('offense') && !subcomment.class.includes('offense3')
                              // Harassment subcomments: Disabled upvote/downvote, but allow flagging and reply
                              a.like.disabled(style="opacity: 0.5; cursor: not-allowed;")
                                i.icon.thumbs.up
                                span.num !{subcomment.likes} 
                              a.unlike.disabled(style="opacity: 0.5; cursor: not-allowed;")
                                i.icon.thumbs.down
                                span.num !{subcomment.unlikes}
                              a.reply Reply
                              if !subcomment.new_comment 
                                a.flag Flag
                            else if subcomment.class && subcomment.class.includes('objection')
                              // Objection subcomments: Full interactivity
                              a.like(class=subcomment.liked ? "green" : null)
                                i.icon.thumbs.up(class=subcomment.liked ? "green" : null)
                                span.num !{subcomment.likes} 
                              a.unlike(class=subcomment.unliked ? "red" : null)
                                i.icon.thumbs.down(class=subcomment.unliked ? "red" : null)
                                span.num !{subcomment.unlikes}
                              a.reply Reply
                              if !subcomment.new_comment 
                                a.flag Flag
                            else
                              // Normal actions for neutral subcomments
                              a.like(class=subcomment.liked ? "green" : null)
                                i.icon.thumbs.up(class=subcomment.liked ? "green" : null)
                                span.num !{subcomment.likes} 
                              a.unlike(class=subcomment.unliked ? "red" : null)
                                i.icon.thumbs.down(class=subcomment.unliked ? "red" : null)
                                span.num !{subcomment.unlikes}
                              a.reply Reply
                              if !subcomment.new_comment 
                                a.flag Flag